@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
  --primary-color: #3685fb;
  --primary-color-dark: #2f73d9;
  --secondary-color: #fafcff;
  --text-dark: #0d213f;
  --text-light: #767268;
  --extra-light: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo .img {
  width: 75px;
}

.icon i {
  font-size: 25px;
  color: #000;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

.icon i:hover {
  color: var(--primary-color);
}

.tagline-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.tagline-container .box {
  text-align: center;
  padding: 20px;
}

.tagline-container .box .bx {
  font-size: 30px;
  padding: 10px;
  background: #eeeff1;
  border-radius: 1rem;
  color: var(--primary-color);
}

.tagline-container .box h2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 1.4rem 0 0.5rem;
}

.tagline-container .box p {
  font-size: 0.7rem;
}

.tagline-container .box .bx:hover,
.tagline-container .bx .bx-calendar-check {
  background: var(--secondary-color);
  color: gray;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 2rem;
}

.section__containerr {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 2rem;
}

.section__containerrr {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 2rem;
}

.footer__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 2rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: -1rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.section__subtitle {
  font-size: 1rem;
  color: var(--text-dark);
  max-width: calc(var(--max-width) / 2);
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--extra-light);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeff1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-scroll {
  background-color: #f1f1f1; /* Change background color when scrolling */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

/* Add some styles to the content to account for the fixed navbar */
.content {
  margin-top: 70px; /* Adjust this value based on the height of your navbar */
}

/* Styles for the default and scrolled navbar */
.nav-default {
  background-color: white;
}

.nav__logo {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 50px;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__logo span {
  color: var(--primary-color);
}

nav .menu {
  float: left;
  height: 50px;
  max-width: 600px;
}

ul {
  list-style: none;
  display: flex;
}

.link {
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  align-items: center;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style-type: none;
  float: left;
  line-height: 60px;
}

nav ul li a {
  color: #fff;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Hamburger Menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0.8;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(8, 8, 8);
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

.link a {
  padding: 0 1rem;
  color: var(--text-dark);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
}

.header__container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header__image {
  position: relative;
  margin-top: 20px;
}

.header__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.5rem solid var(--extra-light);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header__image img:nth-child(1) {
  max-width: 350px;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
  max-width: 250px;
  transform: translate(0%, -25%);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content > div {
  max-width: 400px;
  display: grid;
  gap: 1rem;
}

.header__content .sub__header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  color: var(--text-dark);
}

.header__content .action__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.trip {
  background-color: var(--secondary-color);
}

.trip__container :is(.section__title, .section__subtitle, .view__all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.trip__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 2rem;
  margin: 4rem 0;
}

.trip__card {
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  margin: 10px 10px;
}
.trip__card-container{
  margin: 10px 10px;
}

.trip__details {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--extra-light);
  cursor: pointer;
}

.rating {
  color: goldenrod;
}

.booking__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price span {
  font-weight: 400;
  font-size: 0.7rem;
  color: var(--primary-color);
}

.price p {
  font-size: 0.9rem;
}

.book__now {
  padding: 0.3rem 1rem;
  margin-right: 17px;
  font-size: 11px;
  color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.book__now:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.team {
  width: 100%;
  height: 32vh;
  background-size: cover;
  background-position: center;
}

.team h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  margin-bottom: 30px;
}

.team h1 span {
  color: var(--primary-color);
  margin-left: 15px;
  font-family: mv boli;
}

.team h1 span::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  display: block;
  position: relative;
  bottom: 15px;
}

.team .team_box {
  width: 80%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -5%;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 0.2rem;
}

.team .team_box .profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.team .team_box .profile:hover {
  border-radius: 25px;
  height: 200px;
}

.team .team_box .profile img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: 0.4s;
}

.team .team_box .profile:hover img {
  border-radius: 20px;
  margin-top: -200px;
}

.team .team_box .profile .info {
  position: absolute;
  text-align: center;
  top: 25%;
  transition: 0.4s;
}

.team .team_box .profile:hover .info {
  top: 40%;
}

.team .team_box .profile .info .name {
  color: var(--primary-color);
  margin-bottom: 15px;
  font-size: medium;
}

.team .team_box .profile .info .bio {
  width: 78%;
  font-size: 0.7rem;
  text-align: center;
  margin: 0 auto 5px auto;
}

.team .team_box .profile .info .team_icon i {
  margin: 10px 5px 5px 0;
  cursor: pointer;
  transition: 0.3s;
}

.team .team_box .profile .info .team_icon i:hover {
  color: var(--main-color);
}

.reviews-container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 1rem;
  height: 40vh;
  padding: 0 3rem;
  margin-top: -1.5rem;
}

.rev-img {
  width: 70px;
  height: 70px;
}

.rev-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--second-color);
}

.reviews-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: -20%;
  padding: 20px;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.reviews-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
}

.reviews-container .box p {
  font-style: italic;
  font-size: 0.8rem;
}

.reviews-container .box .stars .bx {
  color: var(--primary-color);
}

/* checkout  */
/* Gaya untuk container utama */
.container {
  display: grid;
  gap: 20px;
  margin: 20px auto;
  margin-top: 8rem;
  max-width: 1200px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr; /* Memisahkan grid menjadi dua kolom */
}

/* Gaya untuk box (shared styling) */
.box {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}

/* Gaya untuk grid Booking Information */
.BI-container,
.ContactDetails-container,
.Description-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: space-between;
}

.container .BI-container .box h1,
.container .ContactDetails-container .box h1,
.container .Description-container .box h1,
.container .Pricedetails-container .box h1,
.container .CM-container .box h1 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.container .BI-container .box p {
  text-align: justify;
}

.container .BI-container .box h2 {
  font-size: 1.3rem;
}

.container .BI-container .box h3 {
  font-size: 0.8rem;
  color: #555;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

/* Gaya untuk gambar */
.BI-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Gaya untuk form container */
.form-container {
  margin-bottom: 1rem;
}

/* Gaya untuk teks h2 pada form-container */
.form-container h2 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #555;
}

.form-container span {
  font-size: 0.7rem;
  color: red;
  font-weight: 500;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container i {
  margin-right: 8px; /* Atur jarak antara ikon dan teks sesuai kebutuhan */
}
button {
  position: relative;
  border-radius: 20px;
  border: 1px solid #4bb6b7;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
  padding: 10px 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

/* Gaya untuk input teks, email, dan nomor */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="number"],
.form-container input[type="date"] {
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

/* Gaya untuk dropdown */
.DROPDOWN select {
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

/* Gaya untuk section harga, pajak, dan diskon */
.price,
.tax,
.discount,
.total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Gaya untuk elemen h2 */
.price h2,
.tax h2,
.discount h2 {
  font-size: 1rem;
  flex-grow: 1;
  font-weight: 600;
}

.total {
  border-top: 1px solid #e1e1e1; /* Atur warna dan ketebalan sesuai kebutuhan */
  margin-top: 10px;
  padding-top: 10px;
}

.total h2 {
  font-size: 1.3rem;
  flex-grow: 1;
  font-weight: 650;
  color: var(--primary-color);
}

/* Gaya untuk elemen p */
.price p,
.tax p,
.discount p {
  flex-shrink: 1;
  text-align: right;
}

.total p {
  font-size: 1.3rem;
  flex-shrink: 1;
  text-align: right;
  color: var(--primary-color);
}

.discount p {
  color: red;
}

/* Gaya untuk container CM-container */
.Pricedetails-container,
.CM-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  height: 40vh;
}

.CM-container {
  width: 300px; /* Sesuaikan lebar sesuai kebutuhan */
  margin-top: -80px; /* Sesuaikan nilai negatif sesuai kebutuhan */
  display: flex;
  justify-content: space-between;
}

.payment {
  padding: 0.3rem 1rem;
  margin-right: 17px;
  font-size: 14px;
  color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 2rem;
}

.payment:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.payment-method label {
  display: flex;
}

/* Gaya untuk setiap gambar payment method */
.payment-method img {
  max-width: 45px; /* Sesuaikan lebar maksimal sesuai kebutuhan */
  margin-top: 10px;
}

.copyright {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eeeff1;
}

.social a {
  color: #444;
  padding: 10px;
  font-size: 21px;
}

/* Responsive */
@media (width < 1200px) {
  .header__image img:nth-child(1) {
    max-width: 300px;
  }

  .header__image img:nth-child(2) {
    max-width: 200px;
  }
}

@media (width < 500px) {
  .header__image img:nth-child(1) {
    max-width: 250px;
    transform: translate(-65%, -40%);
  }
}

.header__image img:nth-child(2) {
  max-width: 188px;
  transform: translate(-10%, -5%);
}

@media (width < 1035px) {
  .footer__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 7rem 3rem 2rem;
  }
}

@media (width < 950px) {
  .section__containerr {
    max-width: var(--max-width);
    margin: auto;
    padding: 8rem 4rem 2rem;
  }
}

@media (width < 944px) {
  .footer__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 22rem 3rem 2rem;
  }
}

@media (width < 900px) {
  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__image {
    min-height: 500px;
  }

  .trip__grid {
    grid-template-columns: repeat(2, -2fr);
  }

  .section__containerr {
    max-width: var(--max-width);
    margin: auto;
    padding: 9rem 4rem 2rem;
  }

  .reviews-container {
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 42rem 3rem 2rem;
  }
}

@media (width < 750px) {
  .section__containerr {
    max-width: var(--max-width);
    margin: auto;
    padding: 16rem 4rem 2rem;
  }
}

@media (width < 695px) {
  .section__containerr {
    max-width: var(--max-width);
    margin: auto;
    padding: 28rem 4rem 2rem;
  }
}

@media (width < 690px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 50rem 3rem 2rem;
  }
}

@media (width < 375px) {
  .footer__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 55rem 3rem 2rem;
  }
}

@media (width < 469px) {
  .section__containerr {
    max-width: var(--max-width);
    margin: auto;
    padding: 56rem 4rem 2rem;
  }
}

@media (width < 350px) {
  .section__containerr {
    max-width: var(--max-width);
    margin: auto;
    padding: 56rem 4rem 2rem;
  }
}

@media (width < 600px) {
  .trip__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .reviews-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .team,
  .reviews {
    padding: 30px 0;
  }

  .profile {
    text-align: center;
  }

  .team_icon {
    margin-top: 10px;
  }

  .social {
    margin-top: 10px;
  }

  .social a i {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  .content2 {
    max-width: 100%;
    padding: 10px;
  }
}

@media only screen and (max-width: 690px) {
  .section__containerrr {
    max-width: var(--max-width);
    margin: auto;
    padding: 19rem 4rem 2rem;
  }
}

@media screen and (max-width: 991.98px) {
  nav .menu ul {
    display: none;
    margin-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  nav .menu ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    line-height: 40px;
  }
  nav .menu ul li a {
    color: #333;
  }

  nav ul li:last-of-type {
    padding-bottom: 8px;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  /* Sesuaikan gaya untuk layar kecil jika diperlukan */
  .copyright {
    font-size: 10px;
  }

  .copyright .social a {
    font-size: 10px;
  }
}

@media screen and (max-width: 770px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #eeeff1;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Mobile responsif page checkout */

/* Tambahkan media query untuk perangkat dengan lebar kurang dari 600px */
@media only screen and (max-width: 600px) {
  /* Container utama menjadi satu kolom */
  .container {
    grid-template-columns: 1fr;
  }

  /* Container Booking Information, Contact Details, dan Description menjadi satu kolom */
  .BI-container,
  .ContactDetails-container,
  .Description-container,
  .Pricedetails-container,
  .CM-container {
    grid-template-columns: 1fr;
  }

  /* Sesuaikan lebar form-container pada perangkat mobile */
  .form-container {
    width: 100%;
  }

  /* Sesuaikan lebar pada Payment Method container */
  .CM-container {
    width: 100%;
    margin-top: 0; /* Hapus margin-top negatif */
  }
}

/* Tambahkan media query untuk perangkat dengan lebar kurang dari 768px (contoh: perangkat mobile) */
@media only screen and (max-width: 768px) {
  .tagline-container {
    grid-template-columns: 1fr; /* Mengatur ulang jumlah kolom pada tagline container */
    margin-top: 1rem; /* Menyesuaikan margin top */
  }

  .tagline-container .box {
    padding: 15px; /* Menyesuaikan padding */
  }

  .nav__logo {
    margin-left: 20px; /* Menyesuaikan margin pada logo */
  }

  .nav__links {
    display: none; /* Sembunyikan link pada menu utama */
  }

  .menu-toggle {
    display: flex; /* Tampilkan tombol hamburger menu */
  }

  .header__container {
    grid-template-columns: 1fr; /* Mengatur ulang jumlah kolom pada header container */
    gap: 1rem; /* Menyesuaikan gap pada header container */
  }

  .header__image img {
    max-width: 100%; /* Mengatur gambar agar responsif */
    transform: translate(-50%, -50%) scale(0.8); /* Menyesuaikan posisi dan skala gambar */
  }

  .header__content {
    text-align: center; /* Mengatur alignment pada konten header */
  }

  .header__content h1 {
    font-size: 2.5rem; /* Menyesuaikan ukuran font pada judul */
    line-height: 3rem; /* Menyesuaikan jarak antar baris pada judul */
  }

  .header__content .action__btns {
    flex-direction: column; /* Mengatur layout tombol aksi menjadi kolom */
    gap: 1rem; /* Menyesuaikan jarak antar tombol aksi */
  }

  .trip__grid {
    grid-template-columns: 1fr; /* Mengatur ulang jumlah kolom pada trip grid */
  }
}

@media only screen and (max-width: 600px) {
  .team {
    margin: 0 auto;
    justify-content: center;
  }
}

/* Aturan media query untuk perangkat dengan lebar kurang dari atau sama dengan 768px */
@media only screen and (max-width: 500px) {
  .header__image img {
    max-width: 100%;
    height: auto; /* Menyesuaikan tinggi agar proporsi gambar tetap terjaga */
    transform: translate(-50%, -50%) scale(-10); /* Menyesuaikan posisi dan skala gambar untuk layar mobile */
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 50vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #eeeff1;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
}
