
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 222.6rem;
}.typography-bc5 {
  width: 100%;
  height: 398.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.typography-bc5 .auto-group-qxur-FwX {
  width: 124.2rem;
  height: 29.8rem;
  position: absolute;
  left: 47.6rem;
  top: 45.2rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-qxur-FwX .this-page-demonstrates-the-various-typographic-styles-ZhK {
  margin-right: 16.6rem;
  max-width: 54.8rem;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.2000000246;
  letter-spacing: 0.0186rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .auto-group-qxur-FwX .this-page-demonstrates-the-various-typographic-styles-eTs {
  max-width: 52.8rem;
  font-size: 6.2rem;
  font-weight: 400;
  line-height: 1.2000000246;
  letter-spacing: 0.0186rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .h1-Mt5 {
  width: 2rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 40.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-hrso-SuX {
  width: 125.5rem;
  height: 17.3rem;
  position: absolute;
  left: 47.6rem;
  top: 85rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-hrso-SuX .this-page-demonstrates-the-various-typographic-styles-BMK {
  margin-right: 14.2rem;
  max-width: 57.2rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .auto-group-hrso-SuX .this-page-demonstrates-the-various-typographic-styles-5Sh {
  max-width: 54.1rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .h2-nM7 {
  width: 2rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 80.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-ukcv-t9F {
  width: 122.3rem;
  height: 9.4rem;
  position: absolute;
  left: 47.6rem;
  top: 112.6rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-ukcv-t9F .this-page-demonstrates-the-various-typographic-styles-DBX {
  margin-right: 18.9rem;
  max-width: 52.5rem;
  font-size: 3.9rem;
  font-weight: 700;
  line-height: 1.2000000783;
  letter-spacing: 0.0195rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .auto-group-ukcv-t9F .this-page-demonstrates-the-various-typographic-styles-iPB {
  max-width: 50.9rem;
  font-size: 3.9rem;
  font-weight: 400;
  line-height: 1.2000000783;
  letter-spacing: 0.0195rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .h3-ph7 {
  width: 2rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 108rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-notm-7w7 {
  width: 123.2rem;
  height: 7.5rem;
  position: absolute;
  left: 47.6rem;
  top: 132.2rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-notm-7w7 .this-page-demonstrates-the-various-typographic-styles-FXX {
  margin-right: 29.7rem;
  max-width: 41.7rem;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 1.2000000246;
  letter-spacing: 0.0155rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .auto-group-notm-7w7 .this-page-demonstrates-the-various-typographic-styles-YmX {
  max-width: 51.8rem;
  font-size: 3.1rem;
  font-weight: 400;
  line-height: 1.2000000246;
  letter-spacing: 0.0155rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .h4-TtV {
  width: 2rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 127.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-ttq1-meH {
  width: 111.5rem;
  height: 5.8rem;
  position: absolute;
  left: 47.6rem;
  top: 149.8rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-ttq1-meH .this-page-demonstrates-the-various-typographic-styles-uEh {
  margin-right: 29.9rem;
  max-width: 41.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .auto-group-ttq1-meH .this-page-demonstrates-the-various-typographic-styles-btD {
  max-width: 40.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .h5-vQh {
  width: 2rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 145.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-aygm-2yX {
  width: 112.3rem;
  height: 2rem;
  position: absolute;
  left: 47.6rem;
  top: 165.8rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-aygm-2yX .this-page-demonstrates-the-various-typographic-styles-mw7 {
  margin-right: 29.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .auto-group-aygm-2yX .this-page-demonstrates-the-various-typographic-styles-VMK {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .h6-1qT {
  width: 2rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 161.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-pvaq-7db {
  width: 47.1rem;
  height: 4.1rem;
  position: absolute;
  left: 14.4rem;
  top: 32.5rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-pvaq-7db .mulish-e7j {
  margin-right: 22.6rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2058823529;
  letter-spacing: 0.0126rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .auto-group-pvaq-7db .heading-mTF {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2058823529;
  letter-spacing: 0.0126rem;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .auto-group-u4su-6VX {
  width: 126.8rem;
  height: 30.8rem;
  position: absolute;
  left: 47.6rem;
  top: 188.4rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-u4su-6VX .this-page-demonstrates-the-various-typographic-styles-E5w {
  margin-right: 14.9rem;
  max-width: 56.5rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.0192rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .auto-group-u4su-6VX .this-page-demonstrates-the-various-typographic-styles-Y6d {
  max-width: 55.4rem;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.0192rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .display-1-TjP {
  width: 7.3rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 183.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .display-xw3 {
  width: 12.3rem;
  height: 4.1rem;
  position: absolute;
  left: 47.6rem;
  top: 175.7rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2058823529;
  letter-spacing: 0.0126rem;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-qkkj-5Ey {
  width: 125.4rem;
  height: 5.8rem;
  position: absolute;
  left: 47.6rem;
  top: 239.9rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-qkkj-5Ey .this-page-demonstrates-the-various-typographic-styles-18d {
  margin-right: 14.9rem;
  max-width: 56.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.0072rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .auto-group-qkkj-5Ey .this-page-demonstrates-the-various-typographic-styles-7SZ {
  max-width: 54rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.0072rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-bc5 .title-1-2Jd {
  width: 5.1rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 235.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .title-vuo {
  width: 7.1rem;
  height: 4.1rem;
  position: absolute;
  left: 47.6rem;
  top: 227.2rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2058823529;
  letter-spacing: 0.0126rem;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-zf7f-qms {
  width: 112.3rem;
  height: 2rem;
  position: absolute;
  left: 47.6rem;
  top: 377.1rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-zf7f-qms .this-page-demonstrates-the-various-typographic-styles-nBK {
  margin-right: 29.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .auto-group-zf7f-qms .this-page-demonstrates-the-various-typographic-styles-tEM {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .menu-1-QTb {
  width: 5.4rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 372.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-yy7w-JYy {
  width: 107.2rem;
  height: 1.7rem;
  position: absolute;
  left: 47.6rem;
  top: 389.2rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-yy7w-JYy .this-page-demonstrates-the-various-typographic-styles-d5T {
  margin-right: 35.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2000000817;
  letter-spacing: 0.007rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .auto-group-yy7w-JYy .this-page-demonstrates-the-various-typographic-styles-jeH {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2000000817;
  letter-spacing: 0.007rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .menu-2-TaH {
  width: 5.4rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 384.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .menu-a97 {
  width: 9rem;
  height: 4.1rem;
  position: absolute;
  left: 47.6rem;
  top: 364.4rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2058823529;
  letter-spacing: 0.0126rem;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-d3zj-6NM {
  width: 112.3rem;
  height: 2rem;
  position: absolute;
  left: 47.6rem;
  top: 266.4rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-d3zj-6NM .this-page-demonstrates-the-various-typographic-styles-ddB {
  margin-right: 29.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .auto-group-d3zj-6NM .this-page-demonstrates-the-various-typographic-styles-MZB {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .headline-1-VQV {
  width: 8.4rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 261.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-6ymp-QXT {
  width: 125.9rem;
  height: 2rem;
  position: absolute;
  left: 47.6rem;
  top: 278.5rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-6ymp-QXT .this-page-demonstrates-the-various-typographic-styles-vVo {
  margin-right: 15.7rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .auto-group-6ymp-QXT .this-page-demonstrates-the-various-typographic-styles-qMs {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .headline-1-uppercase-kDw {
  width: 18.2rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 273.9rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .headlines-3D3 {
  width: 16.3rem;
  height: 4.1rem;
  position: absolute;
  left: 47.6rem;
  top: 253.7rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2058823529;
  letter-spacing: 0.0126rem;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-lsrm-YvV {
  width: 112.3rem;
  height: 2rem;
  position: absolute;
  left: 47.6rem;
  top: 301.1rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-lsrm-YvV .this-page-demonstrates-the-various-typographic-styles-gmo {
  margin-right: 29.9rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .auto-group-lsrm-YvV .this-page-demonstrates-the-various-typographic-styles-obX {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.008rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .body-1-XXX {
  width: 5.3rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 296.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-lkmf-3Ey {
  width: 107.4rem;
  height: 1.9rem;
  position: absolute;
  left: 47.6rem;
  top: 313.2rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-lkmf-3Ey .this-page-demonstrates-the-various-typographic-styles-NY9 {
  margin-right: 34.9rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2999999183;
  letter-spacing: 0.0112rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .auto-group-lkmf-3Ey .this-page-demonstrates-the-various-typographic-styles-5xM {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2999999183;
  letter-spacing: 0.0112rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .body-2-DHs {
  width: 5.3rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 308.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .body-ikR {
  width: 8.4rem;
  height: 4.1rem;
  position: absolute;
  left: 47.6rem;
  top: 288.4rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2058823529;
  letter-spacing: 0.0126rem;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-z47t-Ruj {
  width: 102.2rem;
  height: 1.5rem;
  position: absolute;
  left: 47.6rem;
  top: 333.3rem;
  display: flex;
  align-items: flex-start;
}
.typography-bc5 .auto-group-z47t-Ruj .this-page-demonstrates-the-various-typographic-styles-xuf {
  margin-right: 39.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1000000636;
  letter-spacing: 0.0096rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .auto-group-z47t-Ruj .this-page-demonstrates-the-various-typographic-styles-Ut1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.0096rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .captions-cUR {
  width: 7.4rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 328.7rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .captions-7vy {
  width: 14.6rem;
  height: 4.1rem;
  position: absolute;
  left: 47.6rem;
  top: 320.6rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2058823529;
  letter-spacing: 0.0126rem;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-g9ub-EVo {
  width: 94.5rem;
  height: 1.1rem;
  position: absolute;
  left: 47.6rem;
  top: 355.3rem;
  display: flex;
  align-items: flex-start;
}
.typography-bc5 .auto-group-g9ub-EVo .this-page-demonstrates-the-various-typographic-styles-ZY5 {
  margin-right: 47.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.1000000636;
  letter-spacing: 0.0072rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .auto-group-g9ub-EVo .this-page-demonstrates-the-various-typographic-styles-fr1 {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2000000212;
  letter-spacing: 0.0072rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .notif-C5F {
  width: 4.3rem;
  height: 1.4rem;
  position: absolute;
  left: 47.6rem;
  top: 350.7rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0052rem;
  text-transform: uppercase;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .notification-6wK {
  width: 19.1rem;
  height: 4.1rem;
  position: absolute;
  left: 47.6rem;
  top: 342.6rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2058823529;
  letter-spacing: 0.0126rem;
  color: #0084ff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bc5 .auto-group-d3iq-DW9 {
  width: 125.3rem;
  height: 8.1rem;
  position: absolute;
  left: 14.4rem;
  top: 8rem;
  display: flex;
  align-items: center;
}
.typography-bc5 .auto-group-d3iq-DW9 .typography-xTj {
  margin-right: 6.5rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-bc5 .auto-group-d3iq-DW9 .google-fonts-is-a-library-of-1029-free-licensed-font-families-an-interactive-web-directory-for-browsing-the-library-and-apis-for-conveniently-using-the-fonts-via-css-and-android-J1o {
  margin-top: 1.5rem;
  max-width: 82.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
