
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150.5rem;
}.check-out-mk5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-xtum-Vvy {
    padding: 4rem 8.4rem 0rem 10.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .navbar-18d {
      width: calc(100% - 0.9rem);
      height: 5.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 3.2rem 0.9rem;

      .dummy-logo-02-i33 {
        height: 5.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 13.5rem;
      }
      .auto-group-w69f-2pR {
        padding: 0.1rem 0rem 0.1rem 9.4rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .menu-9PF {
          margin: 1.1rem 51.6rem 2.3rem 0rem;
          height: calc(100% - 3.4rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .home-521 {
            color: #505050;
            white-space: nowrap;
            letter-spacing: 0.008rem;
            font-family: Mulish, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 3.4rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2000000477;
          }
          .destination-AZF {
            margin-right: 3.4rem;
            font-weight: 600;
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            flex-shrink: 0;
            font-size: 1.6rem;
            color: #0f9ae8;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
          }
          .blogs-5gD {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            color: #505050;
            margin-right: 2rem;
            font-weight: 600;
            font-family: Mulish, 'Source Sans Pro';
          }
          .about-us-cRF {
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            color: #505050;
          }
        }
        .action-search-YZo {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.4rem 1.4rem 0rem;
          width: 2.4rem;
          height: 2.4rem;
        }
        .sign-up-53w {
          font-size: 1.6rem;
          line-height: 1.2000000477;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3rem 1.2rem 0rem;
          font-weight: 600;
          letter-spacing: 0.008rem;
          color: #505050;
        }
        .button-PaR {
          display: flex;
          margin-bottom: 1.4rem;
          text-align: center;
          letter-spacing: 0.008rem;
          font-family: Mulish, 'Source Sans Pro';
          width: 9rem;
          height: 4rem;
          font-weight: 600;
          background-color: #0f9ae8;
          font-size: 1.6rem;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          line-height: 1.2000000477;
          color: #ffffff;
          white-space: nowrap;
          border-radius: 0.8rem;
        }
      }
    }
    .auto-group-vfnh-Fcd {
      margin: 0rem 4.7rem 2.4rem 0rem;
      width: calc(100% - 4.7rem);
      height: 59.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .contact-details-mqs {
        margin-right: 5.4rem;
        box-sizing: border-box;
        width: 71.2rem;
        height: 100%;
        padding: 3.2rem 1.6rem 3.2rem 2.4rem;
        border: solid 0.1rem #e1e1e1;
        background-color: #ffffff;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .contact-details-fwF {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2000000477;
          letter-spacing: 0.012rem;
          color: #11142d;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.4rem;
        }
        .auto-group-kkgm-oGm {
          align-items: center;
          margin-bottom: 1.6rem;
          width: 100%;
          height: 8.3rem;
          display: flex;

          .first-name-95j {
            flex-shrink: 0;
            margin-right: 3.2rem;
            width: 32rem;
            height: 100%;
            border-radius: 0.8rem;

            .first-name-VQV {
              color: #11142d;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.5rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2000000477;
              letter-spacing: 0.008rem;
            }
            .text-field-dFo {
              letter-spacing: 0.008rem;
              font-family: Mulish, 'Source Sans Pro';
              border-radius: 0.8rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.2000000477;
              color: #9a9ab0;
              white-space: nowrap;
              border: solid 0.1rem #e1e1e1;
              background-color: #fcfcfc;
              box-sizing: border-box;
              padding: 1.4rem 1.6rem;
              width: 100%;
            }
          }
          .last-name-5tV {
            width: 32rem;
            height: 100%;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .last-name-qcm {
              margin-bottom: 1.5rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2000000477;
              letter-spacing: 0.008rem;
              color: #11142d;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
            }
            .text-field-Auw {
              font-size: 1.6rem;
              font-weight: 600;
              letter-spacing: 0.008rem;
              white-space: nowrap;
              border: solid 0.1rem #e1e1e1;
              background-color: #fcfcfc;
              border-radius: 0.8rem;
              box-sizing: border-box;
              width: 100%;
              line-height: 1.2000000477;
              color: #9a9ab0;
              font-family: Mulish, 'Source Sans Pro';
              padding: 1.4rem 1.6rem;
            }
          }
        }
        .email-address-r25 {
          margin-bottom: 1.6rem;
          width: 65.6rem;
          border-radius: 0.8rem;

          .email-address-ze5 {
            letter-spacing: 0.008rem;
            color: #11142d;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.5rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2000000477;
          }
          .text-field-8VP {
            font-family: Mulish, 'Source Sans Pro';
            border: solid 0.1rem #e1e1e1;
            border-radius: 0.8rem;
            width: 100%;
            font-weight: 600;
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            color: #9a9ab0;
            white-space: nowrap;
            background-color: #fcfcfc;
            box-sizing: border-box;
            padding: 1.4rem 1.6rem;
            font-size: 1.6rem;
          }
        }
        .phone-number-o5j {
          margin-bottom: 1.6rem;
          width: 65.6rem;

          .phone-number-jzy {
            margin-bottom: 1.5rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            color: #11142d;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
          }
          .text-field-USm {
            padding-right: 31.3rem;
            width: 100%;
            height: 4.8rem;
            align-items: center;
            background-color: #fcfcfc;
            box-sizing: border-box;
            border: solid 0.1rem #e1e1e1;
            border-radius: 0.8rem;
            display: flex;

            .item-62-DQM {
              padding: 1.5rem 0.929rem 1.3rem 0.8rem;
              height: 100%;
              background-position: center;
              flex-shrink: 0;
              margin-right: 2.1rem;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              background-size: cover;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:1415:2438');

              .item-62-YBj {
                font-size: 1.6rem;
                letter-spacing: 0.008rem;
                color: #11142d;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.8293rem;
                font-weight: 600;
                line-height: 1.2000000477;
                font-family: Mulish, 'Source Sans Pro';
              }
              .chevron-bottom-ry7 {
                width: 1.3414rem;
                height: 0.8121rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.0707rem;
              }
            }
            .input-your-phone-number-in-here-a8R {
              font-weight: 600;
              color: #9a9ab0;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.2rem;
              font-size: 1.6rem;
              line-height: 1.2000000477;
              letter-spacing: 0.008rem;
            }
          }
        }
        .passport-number--rLq {
          margin-bottom: 1.6rem;
          width: 65.6rem;
          border-radius: 0.8rem;

          .auto-group-knpz-1Dj {
            margin: 0rem 43.2rem 1.5rem 0rem;
            width: calc(100% - 43.2rem);
            display: flex;
            align-items: center;

            .passport-number-8p9 {
              flex-shrink: 0;
              font-size: 1.6rem;
              color: #11142d;
              white-space: nowrap;
              letter-spacing: 0.008rem;
              font-family: Mulish, 'Source Sans Pro';
              margin-right: 0.9rem;
              font-weight: 700;
              line-height: 1.2000000477;
            }
            .optional-T5j {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2000000477;
              letter-spacing: 0.008rem;
              color: #9a9ab0;
              font-family: Mulish, 'Source Sans Pro';
            }
          }
          .text-field-nNu {
            white-space: nowrap;
            box-sizing: border-box;
            padding: 1.4rem 1.6rem;
            width: 100%;
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            color: #9a9ab0;
            font-family: Mulish, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
            border: solid 0.1rem #e1e1e1;
            background-color: #fcfcfc;
            border-radius: 0.8rem;
          }
        }
        .address-eR7 {
          width: 65.6rem;
          border-radius: 0.8rem;

          .address-QQH {
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            color: #11142d;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.5rem;
            font-size: 1.6rem;
            font-weight: 700;
          }
          .text-field-Loj {
            padding: 1.4rem 1.6rem;
            width: 100%;
            font-size: 1.6rem;
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            white-space: nowrap;
            border: solid 0.1rem #e1e1e1;
            box-sizing: border-box;
            color: #9a9ab0;
            font-family: Mulish, 'Source Sans Pro';
            background-color: #fcfcfc;
            border-radius: 0.8rem;
            font-weight: 600;
          }
        }
      }
      .booking-information-BpM {
        padding: 3.2rem 2.4rem;
        flex-direction: column;
        border: solid 0.1rem #e1e1e1;
        border-radius: 0.8rem;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 50.4rem;
        height: 100%;
        row-gap: 2.4rem;
        display: flex;

        .booking-information-iJV {
          letter-spacing: 0.012rem;
          color: #11142d;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2000000477;
        }
        .destination-rQh {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-yhiz-1YV {
            width: 100%;
            background-color: #e7edff;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            padding-top: 0.2rem;

            .image-7-9ub {
              height: 22rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.5rem;
              width: 45.6rem;
            }
          }
          .pink-beach-HF7 {
            letter-spacing: 0.0072rem;
            color: #11142d;
            white-space: nowrap;
            margin-bottom: 0.8rem;
            font-weight: 700;
            font-family: Mulish, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 2.4rem;
            line-height: 1.2000000477;
          }
          .lombok-indonesia-Ccy {
            font-weight: 400;
            line-height: 1.25;
            letter-spacing: 0.008rem;
            color: #505050;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
        .date-w4m {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .date-hJq {
            margin-bottom: 1.5rem;
            font-weight: 700;
            line-height: 1.2000000477;
            font-size: 1.6rem;
            letter-spacing: 0.008rem;
            color: #9a9ab0;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-14-02-2024-Rkd {
            line-height: 1.2000000477;
            letter-spacing: 0.0072rem;
            color: #11142d;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 700;
          }
        }
        .people-xVf {
          flex-shrink: 0;
          display: flex;
          flex-direction: column;

          .people-6Ly {
            font-weight: 700;
            letter-spacing: 0.008rem;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 1.6rem;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.2000000477;
            color: #9a9ab0;
          }
          .adult-d61 {
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2000000477;
            letter-spacing: 0.0072rem;
            color: #11142d;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .guest-details-v57 {
      align-items: center;
      border: solid 0.1rem #e1e1e1;
      border-radius: 0.8rem;
      box-sizing: border-box;
      padding: 3.2rem 1.6rem 3.2rem 2.4rem;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-bottom: 2.4rem;
      width: 71.2rem;

      .auto-group-rsed-1sF {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 24.8rem 2.4rem 0rem;
        width: calc(100% - 24.8rem);

        .guest-details-x1o {
          flex-shrink: 0;
          margin-right: 5rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2000000477;
          font-family: Mulish, 'Source Sans Pro';
          letter-spacing: 0.012rem;
          color: #11142d;
          white-space: nowrap;
        }
        .same-as-contact-details-GoB {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          box-sizing: border-box;
          padding: 0.2rem 0rem 0.2rem 0.2rem;
          height: 2.4rem;
          display: flex;

          .checkbox-CRw {
            border-radius: 0.4rem;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2rem;
            height: 100%;

            .rectangle-outer-MZj {
              border: solid 0.2rem #0f9ae8;
              box-sizing: border-box;
              border-radius: 0.4rem;
              width: 100%;
              height: 2rem;
            }
          }
          .same-as-contact-details-5kd {
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            color: #505050;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
      }
      .auto-group-8xwz-owX {
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        height: 8.3rem;
        display: flex;
        align-items: center;

        .first-name-x3j {
          height: 100%;
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin-right: 3.2rem;
          width: 32rem;

          .first-name-JdP {
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.5rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            color: #11142d;
          }
          .text-field-eBT {
            letter-spacing: 0.008rem;
            border-radius: 0.8rem;
            width: 100%;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2000000477;
            color: #9a9ab0;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.1rem #e1e1e1;
            box-sizing: border-box;
            padding: 1.4rem 1.6rem;
            background-color: #fcfcfc;
          }
        }
        .last-name-ih7 {
          width: 32rem;
          height: 100%;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .last-name-GyX {
            margin-bottom: 1.5rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            color: #11142d;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
          }
          .text-field-oiZ {
            color: #9a9ab0;
            white-space: nowrap;
            box-sizing: border-box;
            padding: 1.4rem 1.6rem;
            width: 100%;
            font-size: 1.6rem;
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            border: solid 0.1rem #e1e1e1;
            border-radius: 0.8rem;
            font-weight: 600;
            font-family: Mulish, 'Source Sans Pro';
            background-color: #fcfcfc;
          }
        }
      }
      .email-address-sTX {
        width: 65.6rem;
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin: 0rem 1.6rem 1.6rem 0rem;

        .email-address-13w {
          font-weight: 700;
          line-height: 1.2000000477;
          letter-spacing: 0.008rem;
          color: #11142d;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
        }
        .text-field-jkd {
          letter-spacing: 0.008rem;
          border: solid 0.1rem #e1e1e1;
          background-color: #fcfcfc;
          box-sizing: border-box;
          padding: 1.4rem 1.6rem;
          width: 100%;
          font-size: 1.6rem;
          font-weight: 600;
          border-radius: 0.8rem;
          line-height: 1.2000000477;
          color: #9a9ab0;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .phone-number-RNZ {
        margin: 0rem 1.6rem 1.6rem 0rem;
        width: 65.6rem;
        flex-shrink: 0;

        .phone-number-xdP {
          font-weight: 700;
          line-height: 1.2000000477;
          letter-spacing: 0.008rem;
          color: #11142d;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
        }
        .text-field-HvZ {
          box-sizing: border-box;
          padding-right: 31.3rem;
          height: 4.8rem;
          display: flex;
          border-radius: 0.8rem;
          width: 100%;
          align-items: center;
          border: solid 0.1rem #e1e1e1;
          background-color: #fcfcfc;

          .item-62-393 {
            margin-right: 2.1rem;
            padding: 1.5rem 0.929rem 1.3rem 0.8rem;
            background-size: cover;
            background-image: url('REPLACE_IMAGE:1426:1087');
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            align-items: center;

            .item-62-mKw {
              font-weight: 600;
              letter-spacing: 0.008rem;
              font-family: Mulish, 'Source Sans Pro';
              flex-shrink: 0;
              white-space: nowrap;
              margin-right: 0.8293rem;
              font-size: 1.6rem;
              line-height: 1.2000000477;
              color: #11142d;
            }
            .chevron-bottom-5rR {
              width: 1.3414rem;
              height: 0.8121rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0707rem;
            }
          }
          .input-your-phone-number-in-here-CAM {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            letter-spacing: 0.008rem;
            color: #9a9ab0;
            margin-top: 0.2rem;
            line-height: 1.2000000477;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .passport-number--GAD {
        margin: 0rem 1.6rem 1.6rem 0rem;
        width: 65.6rem;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .auto-group-jrsm-Bny {
          width: calc(100% - 43.2rem);
          display: flex;
          align-items: center;
          margin: 0rem 43.2rem 1.5rem 0rem;

          .passport-number-uys {
            color: #11142d;
            font-family: Mulish, 'Source Sans Pro';
            flex-shrink: 0;
            line-height: 1.2000000477;
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: 0.008rem;
            white-space: nowrap;
            margin-right: 0.9rem;
          }
          .optional-EWM {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2000000477;
            letter-spacing: 0.008rem;
            color: #9a9ab0;
            font-family: Mulish, 'Source Sans Pro';
          }
        }
        .text-field-mWH {
          line-height: 1.2000000477;
          letter-spacing: 0.008rem;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #fcfcfc;
          padding: 1.4rem 1.6rem;
          font-weight: 600;
          font-size: 1.6rem;
          color: #9a9ab0;
          border: solid 0.1rem #e1e1e1;
          border-radius: 0.8rem;
          box-sizing: border-box;
          width: 100%;
        }
      }
      .address-Eem {
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 65.6rem;
        border-radius: 0.8rem;

        .address-nwB {
          color: #11142d;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2000000477;
          letter-spacing: 0.008rem;
        }
        .text-field-LC1 {
          color: #9a9ab0;
          white-space: nowrap;
          border: solid 0.1rem #e1e1e1;
          background-color: #fcfcfc;
          box-sizing: border-box;
          width: 100%;
          line-height: 1.2000000477;
          letter-spacing: 0.008rem;
          border-radius: 0.8rem;
          padding: 1.4rem 1.6rem;
          font-size: 1.6rem;
          font-weight: 600;
          font-family: Mulish, 'Source Sans Pro';
        }
      }
    }
    .price-details-BCd {
      margin-bottom: 3.2rem;
      width: 71.3rem;
      height: 33.1rem;
      position: relative;
      border-radius: 0.8rem;
      flex-shrink: 0;

      .ccntainer-7MB {
        width: 71.2rem;
        position: absolute;
        border: solid 0.1rem #e1e1e1;
        background-color: #ffffff;
        height: 33.1rem;
        left: 0;
        top: 0;
        box-sizing: border-box;
        border-radius: 0.8rem;
      }
      .total-price-ERo {
        left: 2.4rem;
        top: 25.2rem;
        display: flex;
        align-items: center;
        width: 67.8rem;
        height: 4.7rem;
        position: absolute;

        .total-price-xsb {
          margin: 0.1rem 34.8rem 0rem 0rem;
          letter-spacing: 0.008rem;
          font-family: Mulish, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2000000477;
          color: #11142d;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .rp-3453560-gHo {
          text-align: right;
          font-weight: 700;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 3.9rem;
          line-height: 1.2000000783;
          letter-spacing: 0.0195rem;
          color: #11142d;
          flex-shrink: 0;
        }
      }
      .divider-CG9 {
        left: 2.4rem;
        top: 22.8rem;
        background-color: #e1e1e1;
        width: 66.4rem;
        height: 0.1rem;
        position: absolute;
      }
      .discount-X3X {
        height: 2.9rem;
        position: absolute;
        left: 2.4rem;
        top: 17.5rem;
        display: flex;
        align-items: center;
        width: 68.9rem;

        .discount-edw {
          color: #505050;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 56.6rem 0rem 0rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2000000477;
          letter-spacing: 0.008rem;
        }
        .item-6-yAR {
          white-space: nowrap;
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
          color: #f04361;
          font-family: Mulish, 'Source Sans Pro';
          line-height: 1.2000000477;
          letter-spacing: 0.0072rem;
          flex-shrink: 0;
        }
      }
      .tax-6kq {
        display: flex;
        align-items: center;
        width: 68.3rem;
        height: 2.9rem;
        position: absolute;
        left: 2.4rem;
        top: 13rem;

        .tax-F7w {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2000000477;
          color: #505050;
          white-space: nowrap;
          margin: 0.1rem 53.8rem 0rem 0rem;
          letter-spacing: 0.008rem;
          font-family: Mulish, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .rp-75000-y3w {
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2000000477;
          letter-spacing: 0.0072rem;
          color: #505050;
          flex-shrink: 0;
        }
      }
      .price-hkd {
        width: 68.3rem;
        height: 2.9rem;
        position: absolute;
        left: 2.4rem;
        top: 8.5rem;
        display: flex;
        align-items: center;

        .price-3Zb {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2000000477;
          font-family: Mulish, 'Source Sans Pro';
          margin: 0.1rem 49.2rem 0rem 0rem;
          letter-spacing: 0.008rem;
          color: #505050;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .rp-3599000-a3j {
          text-align: right;
          color: #505050;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2000000477;
          letter-spacing: 0.0072rem;
        }
      }
      .price-details-6nm {
        color: #11142d;
        position: absolute;
        left: 2.4rem;
        font-weight: 700;
        line-height: 1.2000000477;
        letter-spacing: 0.012rem;
        font-family: Mulish, 'Source Sans Pro';
        white-space: nowrap;
        width: 14.5rem;
        height: 2.9rem;
        top: 3.2rem;
        font-size: 2.4rem;
      }
    }
    .agreement-Cau {
      margin: 0rem 91.8rem 4rem 0rem;
      box-sizing: border-box;
      padding: 0.2rem 0rem 0.2rem 0.2rem;
      width: calc(100% - 91.8rem);
      height: 2.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .checkbox-5eh {
        margin-right: 1.8rem;
        width: 2rem;
        height: 100%;
        border-radius: 0.4rem;
        flex-shrink: 0;

        .rectangle-outer-CzD {
          width: 100%;
          height: 2rem;
          border: solid 0.2rem #0f9ae8;
          box-sizing: border-box;
          border-radius: 0.4rem;
        }
      }
      .i-have-agree-to-the-rules-terms-and-conditions-87B {
        letter-spacing: 0.008rem;
        color: #505050;
        font-family: Mulish, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.2000000477;
      }
    }
    .button-2iM {
      width: 20.6rem;
      text-align: center;
      font-family: Mulish, 'Source Sans Pro';
      justify-content: center;
      color: #ffffff;
      background-color: #0f9ae8;
      border-radius: 0.8rem;
      flex-shrink: 0;
      align-items: center;
      height: 5.6rem;
      font-size: 1.6rem;
      line-height: 1.2000000477;
      display: flex;
      margin-left: 0.2rem;
      font-weight: 600;
      letter-spacing: 0.008rem;
      white-space: nowrap;
    }
  }
  .auto-group-uech-Vbw {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 9.6rem 18.7rem 5.9rem 10.8rem;
    width: 100%;
    height: 46.5rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -0%, #dbe7ef 122.43%);

    .footer-p8R {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;

      .dummy-logo-02-mJZ {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 13.44rem;
        height: 5.6rem;
        position: relative;
        object-fit: contain;
      }
      .group-477-6bj {
        margin-bottom: 11.2rem;
        width: 28.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .address-qpD {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .icon-QMX {
            margin-right: 0.8rem;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .b-santa-monica-los-angeles-jeh {
            white-space: nowrap;
            flex-shrink: 0;
            font-family: Mulish, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.25;
            letter-spacing: 0.008rem;
            color: #505050;
            margin-top: 0.2rem;
          }
        }
        .auto-group-lswz-qxd {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 1.6rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .phone-number-zqX {
            margin: 0rem 12rem 1.6rem 0rem;
            width: calc(100% - 12rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-vz5 {
              margin-right: 0.8rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-1-923-2341-22-5MB {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              letter-spacing: 0.008rem;
              margin-top: 0.2rem;
              color: #505050;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .email-yhT {
            margin-right: 3.5rem;
            width: calc(100% - 3.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-jgd {
              margin-right: 0.8rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .contacttanahairstudiocom-Uu7 {
              margin-top: 0.2rem;
              font-size: 1.6rem;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.25;
              letter-spacing: 0.008rem;
              color: #505050;
            }
          }
        }
      }
      .tanahair-studio-all-rights-reserved-zMf {
        line-height: 1.25;
        letter-spacing: 0.008rem;
        color: #505050;
        font-family: Mulish, 'Source Sans Pro';
        font-weight: 400;
        font-size: 1.6rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 88.4rem;
      }
    }
  }
}
