
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150.5rem;
}.sign-up-oKX {
  position: relative;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 1.6rem;
  padding-left: 7.2rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;

  .auto-group-gn9f-jiy {
    width: 61.9rem;
    flex-shrink: 0;
    margin: 6.05rem 9.8rem 0rem 0rem;

    .lunggo-FBX {
      font-weight: 700;
      line-height: 1.3999999364;
      color: #42a7c3;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 17.15rem;
      display: flex;
      font-size: 3.6rem;
    }
    .auto-group-xrdj-N1F {
      margin: 0rem 0rem 1.45rem 0.8rem;
      width: calc(100% - 0.8rem);
      height: 4rem;
      display: flex;
      align-items: flex-start;

      .daftar-5RT {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 35rem 0rem 0rem;
        display: flex;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3999999364;
        font-family: Lato, 'Source Sans Pro';
        color: #505050;
      }
      .auto-group-jzv3-BzH {
        color: #0098ea;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        height: 100%;
        text-align: right;
        font-weight: 400;
        letter-spacing: 0.05rem;
        line-height: 1.3999999762;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 0.6rem 0rem 13.4rem;
        display: flex;
        font-size: 1.6rem;
      }
    }
    .frame-1471-tNu {
      margin: 0rem 0rem 1.55rem 0.8rem;
      width: calc(100% - 0.8rem);
      height: 5.8rem;
      display: flex;
      align-items: center;

      .forms-Qs3 {
        width: 29.65rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 1.8rem;

        .box-x7s {
          left: 0;
          top: 1.4rem;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 0.4rem;
          width: 29.65rem;
          height: 4.4rem;
          position: absolute;
          border: solid 0.1rem #889cbb;
        }
        .text-rj3 {
          height: 2rem;
          left: 1.4rem;
          top: 2.6rem;
          font-size: 1.5rem;
          white-space: nowrap;
          width: 7.4rem;
          position: absolute;
          font-weight: 600;
          line-height: 1.3333333333;
          color: #4f4f4f;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .label-Mvh {
          font-family: Open Sans, 'Source Sans Pro';
          font-weight: 400;
          color: #5f6368;
          background-color: #ffffff;
          height: 2rem;
          left: 0.6rem;
          top: 0;
          font-size: 1.3rem;
          align-items: center;
          width: 9.6rem;
          position: absolute;
          display: flex;
          justify-content: center;
          line-height: 1.5384615385;
          white-space: nowrap;
        }
      }
      .forms-qay {
        width: 29.65rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .box-nWD {
          border: solid 0.1rem #889dbb;
          box-sizing: border-box;
          background-color: #ffffff;
          left: 0;
          top: 1.4rem;
          position: absolute;
          border-radius: 0.4rem;
          width: 29.65rem;
          height: 4.4rem;
        }
        .text-72h {
          white-space: nowrap;
          height: 2rem;
          position: absolute;
          left: 1.4rem;
          top: 2.6rem;
          font-size: 1.5rem;
          line-height: 1.3333333333;
          font-family: Open Sans, 'Source Sans Pro';
          width: 6.1rem;
          font-weight: 600;
          color: #4f4f4f;
        }
        .label-1tm {
          width: 11.1rem;
          height: 2rem;
          position: absolute;
          top: 0;
          font-weight: 400;
          color: #828282;
          font-family: Open Sans, 'Source Sans Pro';
          display: flex;
          align-items: center;
          background-color: #ffffff;
          left: 0.6rem;
          line-height: 1.5384615385;
          white-space: nowrap;
          justify-content: center;
          font-size: 1.3rem;
        }
      }
    }
    .forms-hFo {
      position: relative;
      margin: 0rem 0rem 1rem 0.8rem;
      width: 57.8rem;
      height: 7.1rem;

      .rectangle-21-pbK {
        width: 57.8rem;
        position: absolute;
        border-radius: 0.4rem;
        background-color: #ffffff;
        height: 5.3862rem;
        left: 0;
        top: 1.7138rem;
        border: solid 0.1rem #1660cf;
        box-sizing: border-box;
      }
      .group-1492-veM {
        width: 1.4rem;
        height: 1.4rem;
        position: absolute;
        left: 55.1rem;
        top: 2.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .usernamegmailcom-T8V {
        font-family: Open Sans, 'Source Sans Pro';
        left: 1.4rem;
        line-height: 1.3333333333;
        position: absolute;
        top: 2.6rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #4f4f4f;
        white-space: nowrap;
        width: 19.3rem;
        height: 2rem;
      }
      .frame-4-ZSR {
        height: 2rem;
        font-weight: 400;
        line-height: 1.5384615385;
        display: flex;
        font-size: 1.3rem;
        font-family: Open Sans, 'Source Sans Pro';
        background-color: #ffffff;
        width: 9.6rem;
        left: 0.6rem;
        top: 0;
        color: #828282;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        position: absolute;
      }
    }
    .forms-Fq3 {
      width: 57.8rem;
      height: 7rem;
      position: relative;
      margin: 0rem 0rem 2.5rem 0.8rem;

      .box-kvD {
        width: 57.8rem;
        box-sizing: border-box;
        height: 5.3103rem;
        position: absolute;
        left: 0;
        top: 1.6897rem;
        border: solid 0.1rem #889dbb;
        background-color: #ffffff;
        border-radius: 0.4rem;
      }
      .label-fGV {
        position: absolute;
        font-size: 1.3rem;
        font-family: Open Sans, 'Source Sans Pro';
        width: 15.5rem;
        color: #828282;
        display: flex;
        justify-content: center;
        left: 0.6rem;
        background-color: #ffffff;
        white-space: nowrap;
        align-items: center;
        height: 2rem;
        top: 0;
        font-weight: 400;
        line-height: 1.5384615385;
      }
      .perumahan-indah-blok-bb-7-no-19-curug-tangerang-ZMs {
        font-weight: 600;
        white-space: nowrap;
        height: 2rem;
        left: 1.3rem;
        top: 3.3rem;
        font-size: 1.5rem;
        font-family: Open Sans, 'Source Sans Pro';
        width: 37.3rem;
        position: absolute;
        line-height: 1.3333333333;
        color: #4f4f4f;
      }
    }
    .auto-group-hha9-FVb {
      margin: 0rem 1.5rem 7rem 0.8rem;
      width: calc(100% - 2.3rem);
      height: 6.2rem;
      display: flex;
      align-items: flex-end;

      .forms-NKK {
        margin-right: 3.2rem;
        width: 28rem;
        height: 5.9rem;
        position: relative;
        flex-shrink: 0;

        .box-6m7 {
          width: 28rem;
          position: absolute;
          top: 1.4241rem;
          border-radius: 0.4rem;
          background-color: #ffffff;
          height: 4.4759rem;
          left: 0;
          border: solid 0.1rem #889dbb;
          box-sizing: border-box;
        }
        .text-R2h {
          height: 2rem;
          left: 1.4rem;
          font-size: 1.5rem;
          font-weight: 600;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          width: 7.4rem;
          position: absolute;
          top: 2.6rem;
          line-height: 1.3333333333;
          color: #4f4f4f;
        }
        .label-8C1 {
          line-height: 1.5384615385;
          background-color: #ffffff;
          height: 2rem;
          position: absolute;
          left: 0.6rem;
          top: 0;
          font-family: Open Sans, 'Source Sans Pro';
          justify-content: center;
          color: #828282;
          display: flex;
          align-items: center;
          width: 8rem;
          font-size: 1.3rem;
          font-weight: 400;
          white-space: nowrap;
        }
      }
      .forms-p4q {
        width: 28.4rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .box-yTX {
          border-radius: 0.4rem;
          height: 4.7034rem;
          position: absolute;
          top: 1.4966rem;
          box-sizing: border-box;
          width: 28.4rem;
          left: 0;
          border: solid 0.1rem #889dbb;
          background-color: #ffffff;
        }
        .text-6o3 {
          position: absolute;
          top: 2.6rem;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.3333333333;
          white-space: nowrap;
          width: 7.4rem;
          height: 2rem;
          font-family: Open Sans, 'Source Sans Pro';
          left: 1.4rem;
          color: #4f4f4f;
        }
        .label-2Au {
          line-height: 1.5384615385;
          background-color: #ffffff;
          width: 14.9rem;
          height: 2rem;
          left: 0.6rem;
          top: 0;
          display: flex;
          justify-content: center;
          position: absolute;
          font-size: 1.3rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          font-weight: 400;
          color: #828282;
        }
      }
    }
    .button-vn5 {
      margin: 0rem 18.2rem 0rem 11.1rem;
      width: calc(100% - 29.3rem);
      height: 4.6rem;
      cursor: pointer;

      .basebutton-4NV {
        line-height: 1.3999999762;
        background-color: #d0d0d0;
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: 700;
        color: #ffffff;
        font-family: Lato, 'Source Sans Pro';
        border-radius: 0.8rem;
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        letter-spacing: 0.05rem;
        white-space: nowrap;
      }
    }
  }
  .side-right-kFK {
    width: 71.6rem;
    height: 100rem;
    background: linear-gradient(315deg, #42a7c3 0%, #42a7c3 75.03%);
    border-radius: 1.6rem;
    flex-shrink: 0;

    .mask-image-JGq {
      vertical-align: top;
      width: 71.6rem;
      height: 100rem;
      position: relative;
      object-fit: contain;
    }
  }
}
