
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150.5rem;
}.about-us-7vy {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.about-us-7vy .auto-group-mc81-qc5 {
  margin-bottom: 6rem;
  width: 153rem;
  height: 92.9rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-bg.png');
  flex-shrink: 0;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP {
  box-sizing: border-box;
  padding-bottom: 12.8rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2800000012);
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j {
  margin-bottom: 39.5642rem;
  box-sizing: border-box;
  padding: 7.5rem 6.3rem 7.436rem 15.9rem;
  width: 100%;
  height: 20.5358rem;
  background-color: rgba(255, 255, 255, 0.5);
  flex-shrink: 0;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j .navbar-2gZ {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j .navbar-2gZ .dummy-logo-02-BpM {
  box-sizing: border-box;
  padding: 1.547rem 0rem 1.393rem 0rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector.png');
  flex-shrink: 0;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j .navbar-2gZ .dummy-logo-02-BpM .group-j5B {
  width: 13.5rem;
  height: 2.66rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j .navbar-2gZ .auto-group-umkx-ehw {
  box-sizing: border-box;
  padding: 0.1rem 0rem 0.1rem 9.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j .navbar-2gZ .auto-group-umkx-ehw .menu-Ntq {
  margin: 1.1rem 51.6rem 2.3rem 0rem;
  height: calc(100% - 3.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j .navbar-2gZ .auto-group-umkx-ehw .menu-Ntq .home-7Ld {
  margin-right: 2.9rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j .navbar-2gZ .auto-group-umkx-ehw .menu-Ntq .destination-DeZ {
  margin-right: 3.9rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j .navbar-2gZ .auto-group-umkx-ehw .menu-Ntq .blogs-Lz5 {
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #0f9ae8;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j .navbar-2gZ .auto-group-umkx-ehw .menu-Ntq .about-us-gY9 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j .navbar-2gZ .auto-group-umkx-ehw .action-search-Bzh {
  margin: 0rem 2.4rem 1.4rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j .navbar-2gZ .auto-group-umkx-ehw .sign-up-7tM {
  margin: 0rem 3rem 1.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .auto-group-cgyy-v7j .navbar-2gZ .auto-group-umkx-ehw .button-dbo {
  margin-bottom: 1.4rem;
  width: 9rem;
  height: 4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f9ae8;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-mc81-qc5 .hero-section-yTP .about-us-HgM {
  margin-left: 7.1rem;
  text-align: center;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .group-afT {
  margin-left: 2.1rem;
  width: 3.2rem;
  height: 2.7268rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 {
  box-sizing: border-box;
  padding: 6.173rem 0rem 0rem 0.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .description-section-eQR {
  margin: 0rem 63.9rem 22.3rem 70.35rem;
  width: calc(100% - 134.25rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .description-section-eQR .lunggo-is-yBo {
  margin-right: 2.65rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222222;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .description-section-eQR .plane-icon-h7o {
  margin-bottom: 2.976rem;
  width: 3.2rem;
  height: 3.024rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 {
  margin: 0rem 10.3rem 13.7rem 11.6rem;
  box-sizing: border-box;
  padding: 7.2rem 17.75rem 5.7rem 18.3rem;
  width: calc(100% - 21.9rem);
  height: 33.7rem;
  background-color: #f6f6f6;
  border-radius: 5rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .auto-group-uubk-69w {
  margin: 0rem 0rem 2rem 0.2rem;
  height: 12.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .auto-group-uubk-69w .auto-group-jbrr-QRX {
  margin-right: 12.8rem;
  box-sizing: border-box;
  padding: 1rem 1.2rem 1.4rem 2.3rem;
  height: 100%;
  border: solid 0.1rem rgba(0, 0, 0, 0.3100000024);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .auto-group-uubk-69w .auto-group-jbrr-QRX .event-accepted-vPs {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  vertical-align: top;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .auto-group-uubk-69w .auto-group-ywqb-2C1 {
  margin-right: 12.8rem;
  box-sizing: border-box;
  padding: 1rem 2.2rem 1.4rem 1.6rem;
  height: 100%;
  border: solid 0.1rem rgba(0, 0, 0, 0.3100000024);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .auto-group-uubk-69w .auto-group-ywqb-2C1 .ocean-wave-wpm {
  width: 9.7rem;
  height: 10rem;
  object-fit: contain;
  vertical-align: top;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .auto-group-uubk-69w .auto-group-ohpm-4eV {
  margin-right: 11.2rem;
  box-sizing: border-box;
  padding: 1rem 2.3rem 1.4rem 1.2rem;
  height: 100%;
  border: solid 0.1rem rgba(0, 0, 0, 0.3100000024);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .auto-group-uubk-69w .auto-group-ohpm-4eV .trust-buK {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  vertical-align: top;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .auto-group-uubk-69w .auto-group-psdt-8PT {
  box-sizing: border-box;
  padding: 1rem 1.4rem 1.4rem 2.1rem;
  height: 100%;
  border: solid 0.1rem rgba(0, 0, 0, 0.3100000024);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .auto-group-uubk-69w .auto-group-psdt-8PT .cash-UCR {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  vertical-align: top;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .group-480-bH3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .group-480-bH3 .easy-to-book-Yi5 {
  margin: 0rem 8.35rem 1.1rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .group-480-bH3 .lots-of-beautiful-hidden-gems-Ta9 {
  margin: 0.6rem 12.2rem 0rem 0rem;
  max-width: 19.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .group-480-bH3 .trusted-YrV {
  margin: 0rem 13rem 2.3rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .values-section-qE1 .group-482-wH3 .group-480-bH3 .good-deal-for-holiday-TCm {
  margin-bottom: 0.6rem;
  max-width: 16.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.012rem;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-xzeh-XiR {
  margin: 0rem 0rem 30rem 36.9rem;
  width: 121.8rem;
  height: 70rem;
  position: relative;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-xzeh-XiR .how-it-works-section-rkh {
  width: 117.2rem;
  height: 70rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-xzeh-XiR .rectangle-CJm {
  width: 105rem;
  height: 63.3rem;
  position: absolute;
  left: 16.8rem;
  top: 3.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-xzeh-XiR .gradient-WqF {
  width: 97.3rem;
  height: 63.7rem;
  position: absolute;
  left: 16.2rem;
  top: 3.1rem;
  background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
  border-radius: 5rem;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-xzeh-XiR .trip-booking-cdP {
  width: 50.1rem;
  height: 40rem;
  position: absolute;
  left: 23rem;
  top: 23.3rem;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Oswald, 'Source Sans Pro';
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf {
  margin: 0rem 6.9rem 27.4rem 6.9rem;
  width: calc(100% - 13.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-fpsw-ea5 {
  box-sizing: border-box;
  padding: 0rem 42.4rem 4.7rem 42.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-fpsw-ea5 .meet-our-team-nRP {
  margin-bottom: 8.3rem;
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  line-height: 0.625;
  color: #222222;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-fpsw-ea5 .item-3-uF7 {
  margin: 0rem 4.4rem 0rem 4.5rem;
  width: calc(100% - 8.9rem);
  height: 43rem;
  position: relative;
  background-color: #d9d9d9;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-fpsw-ea5 .item-3-uF7 .gradient-1ow {
  width: 43rem;
  height: 19.2565rem;
  position: absolute;
  left: 0;
  top: 23.7435rem;
  background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
  border-radius: 2.5rem;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-fpsw-ea5 .item-3-uF7 .arga-87s {
  width: 7.6rem;
  height: 5rem;
  position: absolute;
  left: 3.1533rem;
  top: 30.4739rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-fpsw-ea5 .item-3-uF7 .pic-back-end-dev-q2H {
  width: 31.7rem;
  height: 4rem;
  position: absolute;
  left: 3.2rem;
  top: 35.9rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB {
  margin-bottom: 5.6rem;
  width: 100%;
  height: 43rem;
  display: flex;
  column-gap: 3.8rem;
  align-items: center;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB .item-4-qRb {
  width: 43rem;
  height: 100%;
  position: relative;
  background-color: #d9d9d9;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB .item-4-qRb .gradient-aPB {
  width: 43rem;
  height: 19.2565rem;
  position: absolute;
  left: 0;
  top: 23.7435rem;
  background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
  border-radius: 2.5rem;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB .item-4-qRb .nurul-66d {
  width: 10rem;
  height: 5rem;
  position: absolute;
  left: 3.1533rem;
  top: 30.4739rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB .item-4-qRb .front-end-dev-oWq {
  width: 23.2rem;
  height: 4rem;
  position: absolute;
  left: 3.1533rem;
  top: 35.8957rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB .item-5-6Vw {
  width: 43rem;
  height: 100%;
  position: relative;
  background-color: #d9d9d9;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB .item-5-6Vw .gradient-eXT {
  width: 43rem;
  height: 19.2565rem;
  position: absolute;
  left: 0;
  top: 23.7435rem;
  background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
  border-radius: 2.5rem;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB .item-5-6Vw .fina-NTT {
  width: 6.7rem;
  height: 5rem;
  position: absolute;
  left: 3.1533rem;
  top: 30.4739rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB .item-5-6Vw .front-end-dev-HqK {
  width: 23.2rem;
  height: 4rem;
  position: absolute;
  left: 3.1533rem;
  top: 35.8957rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB .item-6-apR {
  width: 43rem;
  height: 100%;
  position: relative;
  background-color: #d9d9d9;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB .item-6-apR .gradient-Lob {
  width: 43rem;
  height: 19.2565rem;
  position: absolute;
  left: 0;
  top: 23.7435rem;
  background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
  border-radius: 2.5rem;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB .item-6-apR .gigih-fay {
  width: 8.5rem;
  height: 5rem;
  position: absolute;
  left: 3.1533rem;
  top: 30.4739rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-bkds-hqB .item-6-apR .back-end-dev-BpD {
  width: 22.9rem;
  height: 4rem;
  position: absolute;
  left: 3.1533rem;
  top: 35.8957rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf {
  width: 100%;
  height: 43rem;
  display: flex;
  column-gap: 3.8rem;
  align-items: center;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf .item-7-Dku {
  width: 43rem;
  height: 100%;
  position: relative;
  background-color: #d9d9d9;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf .item-7-Dku .gradient-aLZ {
  width: 43rem;
  height: 19.2565rem;
  position: absolute;
  left: 0;
  top: 23.7435rem;
  background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
  border-radius: 2.5rem;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf .item-7-Dku .agnita-hRB {
  width: 10.6rem;
  height: 5rem;
  position: absolute;
  left: 3.1533rem;
  top: 30.4739rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf .item-7-Dku .front-end-dev-DPX {
  width: 23.2rem;
  height: 4rem;
  position: absolute;
  left: 3.1533rem;
  top: 35.8957rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf .item-9-i5P {
  width: 43rem;
  height: 100%;
  position: relative;
  background-color: #d9d9d9;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf .item-9-i5P .gradient-Fr1 {
  width: 43rem;
  height: 19.2565rem;
  position: absolute;
  left: 0;
  top: 23.7435rem;
  background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
  border-radius: 2.5rem;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf .item-9-i5P .fani-a7b {
  width: 6.6rem;
  height: 5rem;
  position: absolute;
  left: 3.1533rem;
  top: 30.4739rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf .item-9-i5P .qa-ggR {
  width: 4.8rem;
  height: 4rem;
  position: absolute;
  left: 3.1533rem;
  top: 35.8957rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf .item-8-B7P {
  width: 43rem;
  height: 100%;
  position: relative;
  background-color: #d9d9d9;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf .item-8-B7P .gradient-vqf {
  width: 43rem;
  height: 19.2565rem;
  position: absolute;
  left: 0;
  top: 23.7435rem;
  background: linear-gradient(180deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
  border-radius: 2.5rem;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf .item-8-B7P .hamzah-SZ7 {
  width: 12.8rem;
  height: 5rem;
  position: absolute;
  left: 3.1533rem;
  top: 30.4739rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  font-family: Oswald, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .team-section-Wyf .auto-group-uzp7-Gqf .item-8-B7P .qa-9yK {
  width: 4.8rem;
  height: 4rem;
  position: absolute;
  left: 3.1533rem;
  top: 35.8957rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd {
  box-sizing: border-box;
  padding: 8rem 19.1rem 5.1rem 10.4rem;
  width: 150.5rem;
  height: 44.1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -0%, #dbe7ef 122.43%);
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .dummy-logo-02-if3 {
  margin-bottom: 1.8rem;
  width: 13.44rem;
  height: 5.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .group-477-EtH {
  margin-bottom: 11.2rem;
  width: 28.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .group-477-EtH .address-ahF {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .group-477-EtH .address-ahF .icon-k5w {
  margin-right: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .group-477-EtH .address-ahF .b-santa-monica-los-angeles-gkH {
  margin-top: 0.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .group-477-EtH .auto-group-dvdf-yzH {
  box-sizing: border-box;
  padding-top: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .group-477-EtH .auto-group-dvdf-yzH .phone-number-L49 {
  margin: 0rem 12rem 1.6rem 0rem;
  width: calc(100% - 12rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .group-477-EtH .auto-group-dvdf-yzH .phone-number-L49 .icon-4Vw {
  margin-right: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .group-477-EtH .auto-group-dvdf-yzH .phone-number-L49 .item-1-923-2341-22-QJu {
  margin-top: 0.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .group-477-EtH .auto-group-dvdf-yzH .email-W73 {
  margin-right: 3.5rem;
  width: calc(100% - 3.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .group-477-EtH .auto-group-dvdf-yzH .email-W73 .icon-ej3 {
  margin-right: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .group-477-EtH .auto-group-dvdf-yzH .email-W73 .contacttanahairstudiocom-znu {
  margin-top: 0.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-7vy .auto-group-qwbs-Kd3 .auto-group-457f-SSd .footer-ZXF .tanahair-studio-all-rights-reserved-hxD {
  margin-left: 88.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
