
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150.5rem;
}.booking--y13 {
  width: 100%;
  height: 338.6rem;
}
.booking--y13 .single-page-bo7 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q {
  box-sizing: border-box;
  padding: 3.2rem 9.1rem 2.5rem 10.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .navbar-Wx1 {
  margin: 0rem 0rem 4rem 0.2rem;
  width: calc(100% - 0.2rem);
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .navbar-Wx1 .dummy-logo-02-d13 {
  width: 13.5rem;
  height: 5.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .navbar-Wx1 .auto-group-ym1t-8iV {
  box-sizing: border-box;
  padding: 0.1rem 0rem 0.1rem 9.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .navbar-Wx1 .auto-group-ym1t-8iV .menu-46M {
  margin: 1.1rem 51.6rem 2.3rem 0rem;
  height: calc(100% - 3.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .navbar-Wx1 .auto-group-ym1t-8iV .menu-46M .home-Gbj {
  margin-right: 2.9rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .navbar-Wx1 .auto-group-ym1t-8iV .menu-46M .destination-u8u {
  margin-right: 3.9rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #0f9ae8;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .navbar-Wx1 .auto-group-ym1t-8iV .menu-46M .blogs-1xd {
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .navbar-Wx1 .auto-group-ym1t-8iV .menu-46M .about-us-wbP {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .navbar-Wx1 .auto-group-ym1t-8iV .action-search-ULR {
  margin: 0rem 2.4rem 1.4rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .navbar-Wx1 .auto-group-ym1t-8iV .sign-up-y2H {
  margin: 0rem 3rem 1.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .navbar-Wx1 .auto-group-ym1t-8iV .button-329 {
  margin-bottom: 1.4rem;
  width: 9rem;
  height: 4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f9ae8;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud {
  margin: 0rem 2.305rem 5.1rem 0rem;
  width: calc(100% - 2.3048rem);
  height: 70.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-ag25-CJM {
  margin-right: 5.4rem;
  width: 71.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-ag25-CJM .image-placeholder-Y7K {
  width: 71.2rem;
  height: 63.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e7edff;
  border-radius: 1.6rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-ag25-CJM .image-6-ew3 {
  width: 71.1rem;
  height: 70.6rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP {
  width: 52.0952rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .container-6Y9 {
  width: 50.7rem;
  height: 70.6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #e1e1e1;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .button-Zgd {
  width: 45.8714rem;
  height: 5.6rem;
  position: absolute;
  left: 2.4rem;
  top: 60.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f9ae8;
  border-radius: 0.8rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .price-jjX {
  width: 46.9714rem;
  height: 4.7rem;
  position: absolute;
  left: 2.8rem;
  top: 53.8rem;
  display: flex;
  align-items: flex-start;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .price-jjX .price-T9j {
  margin-right: 18.2714rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .price-jjX .rp-3599000-yds {
  text-align: right;
  font-size: 3.9rem;
  font-weight: 700;
  line-height: 1.2000000783;
  letter-spacing: 0.0195rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .promotional-code-hZs {
  width: 46.6336rem;
  height: 8.3rem;
  position: absolute;
  left: 2.4rem;
  top: 42.5rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .promotional-code-hZs .promotional-code-peV {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .promotional-code-hZs .dropdown-HHB {
  width: 100%;
  height: 4.8rem;
  position: relative;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .promotional-code-hZs .dropdown-HHB .form-ETK {
  width: 45.8714rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #e1e1e1;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 0.8rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .promotional-code-hZs .dropdown-HHB .icon-9aH {
  width: 1.7518rem;
  height: 1.0121rem;
  position: absolute;
  left: 44.8818rem;
  top: 1.9293rem;
  object-fit: contain;
  vertical-align: top;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .promotional-code-hZs .dropdown-HHB .choose-promo-V8M {
  width: 11.1rem;
  height: 2rem;
  position: absolute;
  left: 1.6095rem;
  top: 1.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #9a9ab0;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .promotional-code-BG5 {
  width: 46.7336rem;
  height: 8.1rem;
  position: absolute;
  left: 2.4rem;
  top: 33.4rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .promotional-code-BG5 .transportation-7Qd {
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .promotional-code-BG5 .dropdown-EVF {
  margin-left: 0.1rem;
  width: 46.6336rem;
  height: 4.8rem;
  position: relative;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .promotional-code-BG5 .dropdown-EVF .form-mk5 {
  width: 45.8714rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #e1e1e1;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 0.8rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .promotional-code-BG5 .dropdown-EVF .icon-faZ {
  width: 1.7518rem;
  height: 1.0121rem;
  position: absolute;
  left: 44.8818rem;
  top: 1.9293rem;
  object-fit: contain;
  vertical-align: top;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .promotional-code-BG5 .dropdown-EVF .bus-AnD {
  width: 2.9rem;
  height: 2rem;
  position: absolute;
  left: 1.6095rem;
  top: 1.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #9a9ab0;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .people-58V {
  width: 46.6336rem;
  height: 8.3rem;
  position: absolute;
  left: 2.4143rem;
  top: 24rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .people-58V .people-p65 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .people-58V .dropdown-Ynm {
  width: 100%;
  height: 4.8rem;
  position: relative;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .people-58V .dropdown-Ynm .form-Jmw {
  width: 45.8714rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #e1e1e1;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 0.8rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .people-58V .dropdown-Ynm .icon-Dtu {
  width: 1.7518rem;
  height: 1.0121rem;
  position: absolute;
  left: 44.8819rem;
  top: 1.9293rem;
  object-fit: contain;
  vertical-align: top;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .people-58V .dropdown-Ynm .adult-x5o {
  width: 5.6rem;
  height: 2rem;
  position: absolute;
  left: 1.6429rem;
  top: 1.4rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #9a9ab0;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .date-dhj {
  width: 45.8714rem;
  height: 8.3rem;
  position: absolute;
  left: 2.4143rem;
  top: 12.5rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .date-dhj .date-iz5 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .date-dhj .text-field-TRs {
  box-sizing: border-box;
  padding-right: 30.1393rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e1e1e1;
  background-color: #fcfcfc;
  border-radius: 0.8rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .date-dhj .text-field-TRs .calendar-icon-Q6D {
  margin-right: 0.8048rem;
  width: 4.6274rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .date-dhj .text-field-TRs .dd-mm-yyyy-XRj {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #9a9ab0;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .title-EL9 {
  width: 52.0952rem;
  height: 9.3rem;
  position: absolute;
  left: 0;
  top: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .title-EL9 .container-kpH {
  width: 50.7rem;
  height: 9.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.8rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .title-EL9 .button-VWy {
  width: 4.8286rem;
  height: 4.8rem;
  position: absolute;
  left: 47.2667rem;
  top: 2.3rem;
  object-fit: contain;
  vertical-align: top;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-bgjm-5Ud .auto-group-5mzr-AuP .title-EL9 .booking-Dhs {
  width: 9.5rem;
  height: 2.9rem;
  position: absolute;
  left: 2.4143rem;
  top: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.012rem;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .location-name-t3K {
  margin: 0rem 0rem 3.2rem 0.1rem;
  width: 25.8rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .location-name-t3K .pink-beach-NjB {
  margin-bottom: 1.8rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.024rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .location-name-t3K .auto-group-6xwh-Voo {
  margin-right: 2.5rem;
  width: calc(100% - 2.5rem);
  height: 2.4rem;
  display: flex;
  align-items: center;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .location-name-t3K .auto-group-6xwh-Voo .rate-pr5 {
  margin-right: 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .location-name-t3K .auto-group-6xwh-Voo .rate-pr5 .action-starrate-aKT {
  margin-right: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .location-name-t3K .auto-group-6xwh-Voo .rate-pr5 .item-47-7aH {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .location-name-t3K .auto-group-6xwh-Voo .address-Eeu {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .location-name-t3K .auto-group-6xwh-Voo .address-Eeu .communication-locationon-Cbj {
  margin-right: 1.3rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .location-name-t3K .auto-group-6xwh-Voo .address-Eeu .lombok-indonesia-w3X {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2999999183;
  letter-spacing: 0.0112rem;
  color: #9a9ab0;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .description-Dmj {
  margin: 0rem 0rem 1rem 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .description-Dmj .description-XGd {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.012rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .description-Dmj .pantai-pink-yang-terletak-di-pulau-lombok-indonesia-adalah-salah-satu-destinasi-pantai-yang-memikat-dengan-keunikan-pasirnya-yang-berwarna-merah-muda-pantai-ini-dikenal-karena-pasirnya-yang-berkilauan-dengan-nuansa-pink-yang-menciptakan-pemandangan-yang-luar-biasa-warna-unik-pasir-ini-berasal-dari-campuran-serpih-merah-muda-dan-pecahan-karang-organik-pantai-pink-menawarkan-suasana-yang-tenang-dan-indah-dengan-air-laut-yang-jernih-dan-langit-yang-biru-cerah-pohon-pohon-kelapa-dan-vegetasi-hijau-di-sekitar-pantai-menambah-keindahan-alaminya-selain-kecantikan-alamnya-pantai-pink-juga-menawarkan-potensi-kegiatan-seperti-snorkeling-berenang-atau-hanya-bersantai-di-tepi-pantai-sambil-menikmati-keindahan-sekitar-rZo {
  margin-left: 0.1rem;
  max-width: 71.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s {
  margin: 0rem 60.7rem 2.6rem 0.2rem;
  width: calc(100% - 60.9rem);
  height: 18.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .important-information-AsK {
  margin-right: 11.6rem;
  width: 32.1rem;
  height: 100%;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .important-information-AsK .important-information-U7K {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.012rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .important-information-AsK .mask-mcD {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .important-information-AsK .mask-mcD .container-L9X {
  margin-right: 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .important-information-AsK .mask-mcD .must-wear-a-mask-while-on-location-fxV {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .important-information-AsK .auto-group-pyxz-nXK {
  box-sizing: border-box;
  padding-top: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .important-information-AsK .auto-group-pyxz-nXK .open-day-Xzh {
  margin: 0rem 2.6rem 1.6rem 0rem;
  width: calc(100% - 2.6rem);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .important-information-AsK .auto-group-pyxz-nXK .open-day-Xzh .container-5FX {
  margin-right: 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .important-information-AsK .auto-group-pyxz-nXK .open-day-Xzh .open-only-saturday-and-sunday-pU1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .important-information-AsK .auto-group-pyxz-nXK .age-k6m {
  margin-right: 16.6rem;
  width: calc(100% - 16.6rem);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .important-information-AsK .auto-group-pyxz-nXK .age-k6m .container-gm7 {
  margin-right: 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .important-information-AsK .auto-group-pyxz-nXK .age-k6m .age-6-45-only-nZF {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .open-time-VTf {
  margin-top: 0.3rem;
  width: 26.4rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .open-time-VTf .open-time-dpm {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.012rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .open-time-VTf .date-ydj {
  margin: 0rem 9.5rem 1.6rem 0rem;
  width: calc(100% - 9.5rem);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .open-time-VTf .date-ydj .container-7zq {
  margin-right: 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .open-time-VTf .date-ydj .sunday-friday-GMw {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .open-time-VTf .time-PxM {
  margin-right: 5.6rem;
  width: calc(100% - 5.6rem);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .open-time-VTf .time-PxM .container-9gd {
  margin-right: 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .auto-group-6ah7-f9s .open-time-VTf .time-PxM .am-15-45-pm-VEh {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .maps-b2q {
  margin-bottom: 7.5rem;
  width: 123.2rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .maps-b2q .looking-destination-by-maps-uZK {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.012rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .maps-b2q .maps-bS9 {
  width: 100%;
  border: solid 0.1rem #e1e1e1;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.6rem;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .maps-b2q .maps-bS9 .maps-xGh {
  width: 123.2rem;
  height: 56rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF {
  margin: 0rem 14.7rem 0rem 10.7rem;
  width: calc(100% - 25.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .overheard-from-customers-B9T {
  margin: 0rem 0.9rem 5.6rem 0rem;
  text-align: center;
  font-size: 3.9rem;
  font-weight: 700;
  line-height: 1.2000000783;
  letter-spacing: 0.0195rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh {
  margin: 0rem 0.4rem 3.6rem 0rem;
  width: calc(100% - 0.4rem);
  height: 30.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-01-C4Z {
  margin-right: 4.4rem;
  box-sizing: border-box;
  padding: 2.4rem 2.4rem 3rem 2.4rem;
  width: 50.4rem;
  height: 100%;
  box-shadow: 0 1.5rem 5rem rgba(161, 161, 161, 0.1000000015);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-01-C4Z .auto-group-9fds-69w {
  margin: 0rem 20.6rem 2.4rem 0rem;
  width: calc(100% - 20.6rem);
  height: 8.8rem;
  display: flex;
  align-items: center;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-01-C4Z .auto-group-9fds-69w .auto-group-s1yd-aL1 {
  margin-right: 2.2rem;
  box-sizing: border-box;
  padding: 0.2rem 0.2rem 0.3rem 0.2rem;
  height: 100%;
  background-color: #e7edff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-01-C4Z .auto-group-9fds-69w .auto-group-s1yd-aL1 .user-5Xf {
  width: 8.4rem;
  height: 8.3rem;
  object-fit: contain;
  vertical-align: top;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-01-C4Z .auto-group-9fds-69w .auto-group-rabj-oiZ {
  margin: 1.2rem 0rem 1.1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-01-C4Z .auto-group-9fds-69w .auto-group-rabj-oiZ .pink-beach-LiV {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.0072rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-01-C4Z .auto-group-9fds-69w .auto-group-rabj-oiZ .leornado-de-priok-rgq {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #9a9ab0;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-01-C4Z .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-BUD {
  max-width: 42.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-01-C4Z .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-BUD .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-BUD-sub-0 {
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-01-C4Z .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-BUD .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-BUD-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-02-4bs {
  box-sizing: border-box;
  padding: 2.4rem 2.4rem 3rem 2.4rem;
  width: 50.4rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-02-4bs .auto-group-vkuh-vty {
  margin: 0rem 21rem 2.4rem 0rem;
  width: calc(100% - 21rem);
  height: 8.8rem;
  display: flex;
  align-items: center;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-02-4bs .auto-group-vkuh-vty .auto-group-shpx-ea5 {
  margin-right: 2.1rem;
  box-sizing: border-box;
  padding: 0.2rem 0.2rem 0.3rem 0.2rem;
  height: 100%;
  background-color: #e7edff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-02-4bs .auto-group-vkuh-vty .auto-group-shpx-ea5 .user-z89 {
  width: 8.4rem;
  height: 8.3rem;
  object-fit: contain;
  vertical-align: top;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-02-4bs .auto-group-vkuh-vty .auto-group-trnd-WMP {
  margin: 0.7rem 0rem 1.7rem 0rem;
  height: calc(100% - 2.4rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-02-4bs .auto-group-vkuh-vty .auto-group-trnd-WMP .pink-beach-DFo {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.0072rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-02-4bs .auto-group-vkuh-vty .auto-group-trnd-WMP .kalvin-darmawan-vR7 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #9a9ab0;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-02-4bs .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-rJm {
  max-width: 42.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-02-4bs .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-rJm .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-rJm-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-ur81-Ggh .testimonials-02-4bs .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-rJm .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-rJm-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb {
  margin-left: 0.4rem;
  width: calc(100% - 0.4rem);
  height: 30.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-4-TNR {
  margin-right: 4.4rem;
  box-sizing: border-box;
  padding: 2.4rem 2.4rem 3rem 2.4rem;
  width: 50.4rem;
  height: 100%;
  box-shadow: 0 1.5rem 5rem rgba(161, 161, 161, 0.1000000015);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-4-TNR .auto-group-6zhp-9W9 {
  margin: 0rem 17.7rem 2.4rem 0rem;
  width: calc(100% - 17.7rem);
  height: 8.8rem;
  display: flex;
  align-items: center;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-4-TNR .auto-group-6zhp-9W9 .auto-group-pwsx-Gam {
  margin-right: 2.2rem;
  box-sizing: border-box;
  padding: 0.2rem 0.2rem 0.3rem 0.2rem;
  height: 100%;
  background-color: #e7edff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-4-TNR .auto-group-6zhp-9W9 .auto-group-pwsx-Gam .user-QS5 {
  width: 8.4rem;
  height: 8.3rem;
  object-fit: contain;
  vertical-align: top;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-4-TNR .auto-group-6zhp-9W9 .auto-group-wkds-ihf {
  margin: 1.2rem 0rem 1.1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-4-TNR .auto-group-6zhp-9W9 .auto-group-wkds-ihf .pink-beach-eLR {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.0072rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-4-TNR .auto-group-6zhp-9W9 .auto-group-wkds-ihf .sumanto-simanjuntak-ZiH {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #9a9ab0;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-4-TNR .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-sys {
  max-width: 42.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-4-TNR .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-sys .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-sys-sub-0 {
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-4-TNR .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-sys .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-sys-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-3-Ezm {
  box-sizing: border-box;
  padding: 2.4rem 2.4rem 3rem 2.4rem;
  width: 50.4rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-3-Ezm .auto-group-2uxx-9bw {
  margin: 0rem 21.8rem 2.4rem 0rem;
  width: calc(100% - 21.8rem);
  height: 8.8rem;
  display: flex;
  align-items: center;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-3-Ezm .auto-group-2uxx-9bw .auto-group-iqrb-Drh {
  margin-right: 2.1rem;
  box-sizing: border-box;
  padding: 0.2rem 0.2rem 0.3rem 0.2rem;
  height: 100%;
  background-color: #e7edff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-3-Ezm .auto-group-2uxx-9bw .auto-group-iqrb-Drh .user-kLq {
  width: 8.4rem;
  height: 8.3rem;
  object-fit: contain;
  vertical-align: top;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-3-Ezm .auto-group-2uxx-9bw .auto-group-x14m-Und {
  margin: 0.7rem 0rem 1.7rem 0rem;
  height: calc(100% - 2.4rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-3-Ezm .auto-group-2uxx-9bw .auto-group-x14m-Und .pink-beach-1Gm {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.0072rem;
  color: #11142d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-3-Ezm .auto-group-2uxx-9bw .auto-group-x14m-Und .el-sumaysi-vuX {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #9a9ab0;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-3-Ezm .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-eqX {
  max-width: 42.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-3-Ezm .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-eqX .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-eqX-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
}
.booking--y13 .single-page-bo7 .auto-group-hqcu-32q .testimonials-TjF .auto-group-o1s9-mVb .testimonials-3-Ezm .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-eqX .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-erat-orci-scelerisque-adipiscing-potenti-sollicitudin-semper-aliquam-in-ultricies-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-elit-sed-pretium-egestas-sed-sit-fames-tincidunt-rhoncus-viverra-eu-ut-scelerisque-eqX-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT {
  box-sizing: border-box;
  padding: 9.5rem 10.4rem 3.6rem 10.4rem;
  width: 100%;
  height: 44.1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -0%, #dbe7ef 122.43%);
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF {
  width: 116.7rem;
  height: 100%;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .dummy-logo-02-UV7 {
  margin-bottom: 1.8rem;
  width: 13.44rem;
  height: 5.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .group-477-o1b {
  margin-bottom: 11.2rem;
  width: 28.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .group-477-o1b .address-7Y5 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .group-477-o1b .address-7Y5 .icon-qiy {
  margin-right: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .group-477-o1b .address-7Y5 .b-santa-monica-los-angeles-BXw {
  margin-top: 0.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .group-477-o1b .auto-group-veu1-s9s {
  box-sizing: border-box;
  padding-top: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .group-477-o1b .auto-group-veu1-s9s .phone-number-DDj {
  margin: 0rem 12rem 1.6rem 0rem;
  width: calc(100% - 12rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .group-477-o1b .auto-group-veu1-s9s .phone-number-DDj .icon-wfX {
  margin-right: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .group-477-o1b .auto-group-veu1-s9s .phone-number-DDj .item-1-923-2341-22-sZB {
  margin-top: 0.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .group-477-o1b .auto-group-veu1-s9s .email-AoB {
  margin-right: 3.5rem;
  width: calc(100% - 3.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .group-477-o1b .auto-group-veu1-s9s .email-AoB .icon-Kg5 {
  margin-right: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .group-477-o1b .auto-group-veu1-s9s .email-AoB .contacttanahairstudiocom-TnH {
  margin-top: 0.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.booking--y13 .single-page-bo7 .auto-group-fmqk-PyT .footer-8RF .tanahair-studio-all-rights-reserved-jE1 {
  margin-left: 84.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.008rem;
  color: #505050;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
